:org.apache.felix.configadmin.revision:=L"2"
org.apache.sling.commons.log.file="logs/error.log"
org.apache.sling.commons.log.file.number=I"7"
org.apache.sling.commons.log.file.size="'.'yyyy-MM-dd"
org.apache.sling.commons.log.level="debug"
org.apache.sling.commons.log.numOfLines=I"10000"
org.apache.sling.commons.log.packagingDataEnabled=B"true"
org.apache.sling.commons.log.pattern="{0,date,dd.MM.yyyy\ HH:mm:ss.SSS}\ *{4}*\ [{2}]\ {3}\ {5}"
service.pid="org.apache.sling.commons.log.LogManager"
