# Multiple AEM instances service managed by AEM Compose CLI

[Unit]
Description=AEM Instances
After=network.target

[Service]
Type=forking

ExecStart={{ aem_publish_script }} start
ExecStop={{ aem_publish_script }} stop
ExecReload={{ aem_publish_script }} restart
User={{ aem_system_user }}
KillMode=process
RemainAfterExit=yes
TimeoutStartSec=1810
TimeoutStopSec=190
LimitNOFILE=20000
PIDFile={{ aem_var_dir }}/instance/publish/crx-quickstart/conf/cq.pid

[Install]
WantedBy=multi-user.target